*{
padding: 0;
margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}


header{

    display: flex;
    justify-content: space-between;
    width: 100%;

    box-shadow: 30px 30px 60px;

    box-sizing: border-box;
}
.menu {
    display: flex;

}
.menu ul li {

    list-style: none;
    display: flex;
    float: left;
    
    margin: 30px 20px;

    text-align: right;
    font-size: 18px;
    font-weight: bolder;

   

}


.menu ul li a{

    text-decoration: none;

    border-bottom: 3px solid #ababab;
    box-shadow: #c6bdbd;
    background-color: #fef6f6;
    border-radius: 40px;
    padding: 4px 30px;

    color: black;
    /* tempo da animação */
    transition: 500ms

}

.menu ul li a:hover {

    background-color: rgb(14, 16, 60);

    color: white;
}


footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 30px; 
}