*{
    margin: 0;
    padding: 0;
}
header {
    background-color:white;
    width: 100%;
    box-shadow: 0 0 10px #ccc ;
}
header nav{
    float: right;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
    margin: 25px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}
.centro{
    width: 100%;
    margin: auto;
    text-align: center;
}
.centro_titulo{
    padding-top: 20px;
}
body{
    font-family: arial, verdana;
    font-size: 16px;
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}
.game_req ul li strong{
    color: #61686D;
    margin-right: 10px;
    font-weight: normal;
    margin-bottom: 10px;
    text-transform: none;

}
